.blog-post-container {
    margin: 20px;

    mat-form-field {
        width: 100%;

        input {
            color: black;
        }

        textarea {
            max-height: 40vh;
            overflow: auto;
        }
    }

    .form-actions {
        display: flex;
        justify-content: flex-end;

        button {
            margin: 0 8px;
        }
    }
}
